<div>
  <div class="container">

    <!-- Top Heading -->
    <div *ngIf="!addNewTaskone">
      <div class="d-flex top-heading justify-content-between my-4">
        <div>
          <p class="user-name">Hello Floyd Mullins</p>
          <p>You have 3 tasks</p>
        </div>
        <div>
          <img src="../assets/images/profile_pic.png" alt="" />
        </div>
      </div>

      <!-------------------------- Tasks ----------------------------------------->
      <p *ngIf="allTasks.length <= 0" class="no_task text-center"> No Task Entered</p>
      <div class="d-flex justify-content-between p-3 mb-3 task-panel rounded"
        *ngFor="let task of allTasks; let i = index">
        <div>
          <h6>{{ task }}</h6>
          <p>Due on {{date | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="task-clock">
          <img src="../assets/images/task_clock.png" alt="icn" />
        </div>
      </div>
    </div>
    <!-- Add Task Textarea -->
    <form (ngSubmit)="f.form.valid && submitTask()" #f="ngForm">
      <div class="add-task animated fadeInUp" *ngIf="addNewTaskone">
        <div class="close-btn ">
          <button type="button" class="close float-left animated rotateIn" (click)="onClose()">&times;
          </button>
        </div>
        <div class="form-group">
          <textarea name="Task" class="form-control" rows="5" id="comment" [(ngModel)]="newTask" #myTask="ngModel"
            class="text-area" placeholder="What would you like to add ?" autofocus required>
                    </textarea>
          <div class="input-group-append browse_btn">
            <img src="../assets/images/browse.png" alt="browse">
          </div>
          <div class="input-group-append calendar_btn">
            <img src="../assets/images/calendar.png" alt="calendar">
          </div>
          <div *ngIf="myTask.invalid && (myTask.dirty || myTask.touched)" class="text-danger mt-1">
            <div *ngIf="myTask.errors.required">
              Please add any task
            </div>
          </div>
        </div>
      </div>
      <!-- Submit Task Button -->
      <div *ngIf="addNewTaskone">
        <button (click)="submitTask()" [ngClass]="{ 'add-icn2': addNewTaskone }"
          [disabled]="f.form.pristine || f.form.invalid">
          <img src="../assets/images/add_icn.png" alt="add" />
        </button>
      </div>
    </form>
<!-- Add New Task Button -->
    <div *ngIf="!addNewTaskone">
      <div class="add-icn text-center m-0" (click)="onAdd()">
        <img src="../assets/images/add_icn.png" alt="add" />
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>