<div class="bg-clr">
  <div class="container">
    <!-- Top Heading -->
    <!-- <div class="row top-heading mt-4">
    <div class="col-9">
    <h3>Hello Solomon </h3>
    <p>You have 3 tasks</p>
    </div>
    <div class="col-3">
      <img src="../assets/images/profile_pic.png" alt="">
    </div>
  </div> -->
    <div class="d-flex top-heading justify-content-between my-4">
      <div>
        <p class="user-name">Hello Solomon Nallapu</p>
        <p>You have 3 tasks</p>
      </div>
      <div class="">
        <img src="../assets/images/profile_pic.png" alt="" />
      </div>
    </div>

    <!-- tasks -->

    <div class="d-flex justify-content-between p-3 mb-3 task-panel rounded" *ngFor="let task of allTasks ;let i = index" >
      
      <div>
        <h6>{{task}}</h6>
        <p>Due on Fri Aug 8</p>
      </div>
      <div class="task-clock">
        <img src="../assets/images/task_clock.png" alt="icn" />
      </div>
    </div>
    

    <div class="add-task" *ngIf="addNewTaskone">
      <div class="close-btn">
        <button type="button" class="close float-left" (click)="Close()" >&times;</button>
      </div>
      <div>
        <textarea name="addTask" class="form-control" rows="5" id="comment" [(ngModel)]="newTask"></textarea>
      </div>
    </div>
    <div *ngIf="addNewTaskone">
      <div  [ngClass]="{'add-icn2': addNewTaskone}">
          <div class="text-center m-0" (click)="taskEntered()">
            <img src="../assets/images/add_icn.png" alt="add" />
          </div>
        </div>
    </div>
    <div *ngIf="!addNewTaskone">
    <div class="add-icn text-center m-0" (click)="onAdd()">
      <img src="../assets/images/add_icn.png" alt="add" />
    </div>
    </div>

    
  </div>



  <router-outlet></router-outlet>
</div>
