.top-heading img {
  width: 50px;
  border-radius: 50%;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.bg-white {
  background: #ffffff !important;
}

p {
  margin: 0 !important;
  color: #9C9C9E;
  font-size: 14px;
  font-weight: 400 !important;
  font-family: "Poppins", sans-serif;
}

.user-name {
  font-size: 20px;
  font-weight: 500 !important;
  color: #222121;
  font-family: "Montserrat", sans-serif;
}

.task-clock img {
  width: 20px;
}

.task-panel {
  background: #ffffff;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.14);
}

textarea {
  resize: none !important;
  border: none !important;
  position: relative;
  width: 100%;
}

.browse_btn,
.calendar_btn {
  position: absolute;
}

.browse_btn {
  right: 45px;
}

.calendar_btn {
  right: 10px;
}

.form-control:focus,
textarea:focus {
  outline: none !important;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #DDDDDD !important;
}

.closeClicked {
  // animation-timing-function: ease-out;
  animation-name: rotateOut;
  animation-duration: 400ms;
}

.add-icn,
.add-icn2 {
  position: fixed;
  bottom: 1%;
  left: 0;
  right: 0;
}

.add-icn {
  img {
    background: #1e7bf5;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 7px #6f6f6f;
  }
}

.add-icn2 {
  background: #1e7bf5;
  border: none;
  display: block;
  width: 100%;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  bottom: 0 !important;

  img {
    padding: 20px;
  }
}

// Dragable
.delete_task {
  position: fixed;
  bottom: 1%;
  background: #FB4F62;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, 0);

  img {
    padding: 20px;
  }
}

.drop-over-active {
  background-color: #FB4F62;
  padding: 10px;
  z-index: 9999 !important;
}

// Hide and Show Add and Delete Buttons
.opacity_0 {
  opacity: 0;
}

.opacity_1 {
  opacity: 1;
}

// Resize the Box on Drag
.scaleDown {
  transform: scale(0.8);
  padding: 0.5rem !important;

  h6,
  p {
    font-size: 12px !important;
  }

  img {
    width: 15px;
  }

}
