.top-heading img {
  width: 50px;
  border-radius: 50%;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.bg-white {
  background: #ffffff !important;
}

p {
  margin: 0 !important;
  color: #9C9C9E;
  font-size: 14px;
  font-weight: 400 !important;
}

.user-name {
  font-size: 20px;
  font-weight: 500 !important;
  color: #222121;
  font-family: "Montserrat", sans-serif;
}

.task-clock img {
  width: 20px;
}

.task-panel {
  background: #ffffff;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.add-icn,
.add-icn2 {
  position: fixed;
  bottom: 1%;
  left: 0;
  right: 0;
}

.add-icn {
  img {
    background: #1e7bf5;
    padding: 20px;
    border-radius: 50%;
  }
}

.add-icn2 {
  background: #1e7bf5;
  border: none;
  display: block;
  width: 100%;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  bottom: 0 !important;

  img {
    padding: 20px;
  }
}

textarea {
  resize: none !important;
  border: none !important;
  position: relative;
  width: 100%;
}

.browse_btn,
.calendar_btn {
  position: absolute;
}

.browse_btn {
  right: 45px;
}

.calendar_btn {
  right: 10px;
}

.form-control:focus,
textarea:focus {
  outline: none !important;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #DDDDDD !important;
}
